/*Ritchie Flick
T3IFAN 2012/2013 Abschlussprojekt
LN
'Feuerwehrverwaltungssoftware - FVS'
'src/Berichte/fvs.css'*/

/*Hierbei handelt es sich um die *CSS* Datei, welche die Berichte verwenden.
Es ist eine Standard *Vorlage* erstellt worden, welche jedoch von den Benutzern
ganz nach ihren Bedürfnissen angepasst werden kann.*/

.FVS_Bericht {
    border: none;
}

th, td {
    border: none;
}

th {
    background-color: #000000;
    color: #FFFFFF;
}